<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Color</key>
	<dict>
		<key>PinkColor</key>
		<string>d90070</string>
	</dict>
	<key>Label</key>
	<dict>
		<key>Title</key>
		<dict>
			<key>Font</key>
			<string>bold:14</string>
			<key>TextColor</key>
			<string>PinkColor</string>
			<key>TextAlign</key>
			<string>center</string>
			<key>BackgroundColor</key>
			<string>nil</string>
			<key>Border</key>
			<string>nil</string>
		</dict>
	</dict>
	<key>TextField</key>
	<dict/>
	<key>TextView</key>
	<dict/>
	<key>View</key>
	<dict/>
</dict>
</plist>
