<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Color</key>
	<dict>
		<key>PinkColor</key>
		<string>d90070</string>
		<key>BodyTextColor</key>
		<string>000000</string>
	</dict>
	<key>Label</key>
	<dict>
		<key>Title</key>
		<dict>
			<key>FontSize</key>
			<integer>17</integer>
			<key>Bold</key>
			<true/>
			<key>TextColor</key>
			<string>PinkColor</string>
			<key>BackgroundColor</key>
			<string></string>
			<key>Border</key>
			<dict>
				<key>Color</key>
				<string>PinkColor</string>
				<key>Width</key>
				<real>0.5</real>
			</dict>
			<key>CornerRadius</key>
			<integer>10</integer>
		</dict>
		<key>Body</key>
		<dict>
			<key>FontSize</key>
			<string>15</string>
			<key>Bold</key>
			<false/>
			<key>TextColor</key>
			<string>BodyTextColor</string>
			<key>BackgroundColor</key>
			<string></string>
		</dict>
	</dict>
	<key>TextField</key>
	<dict>
		<key>Signup</key>
		<dict>
			<key>FontSize</key>
			<integer>17</integer>
			<key>Bold</key>
			<false/>
			<key>TextColor</key>
			<string>PinkColor</string>
			<key>BackgroundColor</key>
			<string>ffffff</string>
			<key>Border</key>
			<dict>
				<key>Color</key>
				<string>PinkColor</string>
				<key>Width</key>
				<real>0.5</real>
			</dict>
			<key>CornerRadius</key>
			<integer>10</integer>
			<key>ShowClearButton</key>
			<true/>
		</dict>
	</dict>
	<key>TextView</key>
	<dict/>
	<key>View</key>
	<dict/>
</dict>
</plist>
